# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [293]:
geo_data = {
    'New York City' : {
        'latitude' : 40.7128,
        'longitude' : -74.0060,
        'population' : 8_336_817,
        'area' : 783.8
    }
}

new_york = geo_data['New York City']

# 1
print(f"Population Density: {round(new_york['population']/new_york['area'])}/Square Kilometers\n")

# 2
print(f"Latitude: {new_york['latitude']}, Longitude: {new_york['longitude']}")

Population Density: 10636/Square Kilometers

Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [294]:
city = "San Francisco"

# 1
print(city.lower())

# 2
print(city.upper())

# 3
print(city.replace("San", "Los"))

san francisco
SAN FRANCISCO
Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [295]:
tuples_list = [
    ('New York City', (40.7128, -74.0060)),
    ('Los Angeles', (34.0522, -118.2437)),
    ('Chicago', (41.8781, -87.6298))
]

# 1
tuples_list.append(('Miami', (25.7617, -80.1918)))

# 2
print(tuples_list)

# 3
print(tuples_list[:2])

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]
[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [296]:
eiffel_tower_coord = (48.8584, 2.2945)

# 1
print(f"Latitude: {eiffel_tower_coord[0]}, Longitude: {eiffel_tower_coord[1]}")

# 2:
# trying to change the value of a Tuple will always result in an Error since
# tuples are immutable and designed to prevent value changes once assigned.

Latitude: 48.8584, Longitude: 2.2945

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [297]:
countries_set = { "USA", "France", "Germany" }

# 1
countries_set.add("Japan")

# 2:
# Sets prevent duplicate values, so adding a value 
# that is already present will result in no change.
countries_set.add("Japan")

# 3
print(countries_set)

{'Germany', 'USA', 'France', 'Japan'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [298]:
geospacial_feature = {
    'Name' : 'Amazon River',
    'Length' : 6_400,
    'Countries' : ["Brazil", "Peru", "Colombia"]
}

# 1
geospacial_feature['Average Discharge'] = 209_000

# 2
geospacial_feature['Length'] = 6_992

# 3
print(geospacial_feature)

{'Name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Average Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [299]:
city_dict = {
    'Name' : "Tokyo",
    'Population' : 13_515_271,
    'Coordinates' : (35.6895, 139.6917)
}

# 1
print(city_dict['Population'])

# 2
print(city_dict['Coordinates'][0])

# 3
city_dict['Population'] = 14_000_000
print(city_dict)

13515271
35.6895
{'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [300]:
#tuples_list = [
#    ('New York City', (40.7128, -74.0060)),
#    ('Los Angeles', (34.0522, -118.2437)),
#    ('Chicago', (41.8781, -87.6298)),
#    ('Miami', (25.7617, -80.1918))
#]

# 1
sorted_list = sorted(tuples_list)
print(sorted_list)

# 2
city_names_list = [item[0] for item in sorted_list]
print(city_names_list)

# 3
tuples_list.pop()
print(tuples_list)

[('Chicago', (41.8781, -87.6298)), ('Los Angeles', (34.0522, -118.2437)), ('Miami', (25.7617, -80.1918)), ('New York City', (40.7128, -74.006))]
['Chicago', 'Los Angeles', 'Miami', 'New York City']
[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298))]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [301]:
#geospacial_feature = {
#    'Name' : 'Amazon River',
#    'Length' : 6992,
#    'Countries' : ["Brazil", "Peru", "Colombia"],
#    'Average Discharge': 209000
#}

# 1
print('Length' in geospacial_feature)

# 2
for key in geospacial_feature.keys():
    print(f"{key}", end="_")
print()

# 3
for value in geospacial_feature.values():
    print(f"{value}", end="_")
print()

True
Name_Length_Countries_Average Discharge_
Amazon River_6992_['Brazil', 'Peru', 'Colombia']_209000_

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [302]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [303]:
# 1
location_names = [loc[0] for loc in locations]

# 2
locations_dict = {}

for loc in locations:
    locations_dict[loc[0]] = (loc[1], loc[2])

# 3
print(locations_dict['K2'][0])

35.8808